<%- include("header") %>
<h2 style="text-align: center;">Ummmmm nothing to say, just a frustrated person...</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu volutpat nibh. Mauris viverra lacinia vulputate.
Sed ullamcorper luctus purus, at efficitur diam tristique vel. Sed sed scelerisque neque, ut volutpat arcu. Donec sed
nunc non urna faucibus hendrerit. Vivamus eleifend tellus luctus, sagittis justo eget, maximus dui. Vivamus et maximus
velit. Mauris pretium eros facilisis, facilisis neque non, elementum nunc. Suspendisse aliquet eu purus quis venenatis.
Maecenas pharetra dapibus sem eu tincidunt. Integer in bibendum leo. Vivamus sollicitudin dolor felis, vitae porta quam
tristique quis. Vivamus id aliquam urna, non maximus libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur
adipiscing elit.

Fusce volutpat odio at massa convallis tempus. Suspendisse blandit tincidunt orci, porta vehicula lectus pellentesque
ac. Pellentesque auctor laoreet ex, vitae vulputate nunc ultrices ut. Cras hendrerit elementum odio, eu laoreet massa
interdum sed. Mauris bibendum nibh vel augue eleifend bibendum. Fusce accumsan ligula vel dui semper, eget pretium
mauris tristique. In vel interdum metus. Nullam tristique convallis arcu, quis vehicula tortor pulvinar nec. Aliquam sit
amet diam imperdiet, molestie lectus in, volutpat nisi. Phasellus nec quam aliquet, imperdiet ipsum eget, porttitor
tellus. Mauris malesuada erat quis tincidunt blandit. Praesent facilisis rhoncus ante, ac pulvinar ligula ullamcorper
quis.</p>
<%- include("footer") %>